In [7]:
#dependencies
import pandas as pd

In [8]:
#file path
data_file= "all 3 scrape/ONABBC_Data.csv"

In [9]:
#read csv file into df
data_file = pd.read_csv(data_file)
data_file.head()

,Unnamed: 0,Case_Date,City/Health_Region,Gender,Age_Group,Province,Outcome,Latitude,Longitude
0,0,2020-01-26,Vancouver Coastal,Male,40-49 years,British Colombia,NaN,54.312519,-130.305405
1,1,2020-02-02,Vancouver Coastal,Female,50-59 years,British Colombia,NaN,54.312519,-130.305405
2,2,2020-02-05,Vancouver Coastal,Female,20-29 years,British Colombia,NaN,54.312519,-130.305405
3,3,2020-02-05,Vancouver Coastal,Male,30-39 years,British Colombia,NaN,54.312519,-130.305405
4,4,2020-02-11,Interior,Female,30-39 years,British Colombia,NaN,52.981700,-122.494900

In [17]:
data_file = data_file.drop(columns=['Unnamed: 0'])

In [18]:
data_file.head()

,Case_Date,City/Health_Region,Gender,Age_Group,Province,Outcome,Latitude,Longitude
0,2020-01-26,Vancouver Coastal,Male,40-49 years,British Colombia,NaN,54.312519,-130.305405
1,2020-02-02,Vancouver Coastal,Female,50-59 years,British Colombia,NaN,54.312519,-130.305405
2,2020-02-05,Vancouver Coastal,Female,20-29 years,British Colombia,NaN,54.312519,-130.305405
3,2020-02-05,Vancouver Coastal,Male,30-39 years,British Colombia,NaN,54.312519,-130.305405
4,2020-02-11,Interior,Female,30-39 years,British Colombia,NaN,52.981700,-122.494900

In [19]:
#exporting df as html file
data_file.to_html('data_html.html')